*{
  margin:0;
	padding:0;	  
}

:root{
    
    --dark:#2B4249;
    --darkdark:#193136;
    --light:#F3F4F6;
}
*{
   
    margin: 4;
    font-family: 'Andika', sans-serif;
}
body{
    background: #1c3d3e;
    color: var(--dark);
}
.watch{
    text-align: center;
    color:#f3f4f6cb;
    width: 200%;
    max-width:460px;
    margin: 8rem auto;
    padding: 4rem 3rem;
}
.watch.time {
font-size:7rem;
font-weight:420;
margin-bottom:6rem;

}
.time{
	font-size:4rem;
    margin: 1rem auto;
 
}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls button{
    appearance: none;
    background: none ;
    border: none;
    outline: none; 
    user-select: none;
    cursor: pointer;
    color: var(--light);
    font-size: 1.125rem;
    background-color:333333;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.9rem;
    transition: 0.4s;
}
button:hover{
    opacity: 0.7;
}

@media screen and (max-width:992px) {
    .watch {
         grid-template-columns: 1fr;
         gap: 50px;
        
         width: 100%;
         max-width: 40vw;
         max-height: 300vh;
     }
     .controls {
        display: block;
        display: flex;
     }
    }



